.hero {
    background-color: rgb(255, 255, 255);
}

.logo {
    width: 150px;
}

.main-character {
    background-color: rgb(1, 1, 1)
}

.technologies {
    background-color: rgb(255, 255, 255);
}

.heading-line {
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 3px;
}

.contacts {
    background-color: rgb(220, 220, 220);
}

.footer {
    background-color: rgb(255, 255, 255);
}

.heading-line-foot {
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 3px;
}